* {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
}

body {
  background-color: #fcfcfc;
}

main {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.headline {
  margin-left: 2rem;
}

.card {
  background-color: white;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  max-width: 27rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  margin: auto;
}

.text-container h2 {
  margin: 0;
}

.text-container p {
  margin: 0.5rem 0 0 0;
  color: gray;
}

.card img {
  border-radius: 50%;
  margin: 2rem auto 2rem auto;
}

.modal {
  display: none;
  position: fixed;
  margin: auto;
}
