* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fcfcfc;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  height: 100%;
  width: 100%;
  color: #4a4a4a;
}

.headline {
  margin-left: 2rem;
  color: #4a4a4a;
}

.card {
  background-color: white;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  height: 12rem;
  display: flex;
  margin: 0;
  justify-content: space-between;
  max-width: 27rem;
  transition: all 0.3s ease-in-out;
  color: #4a4a4a;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  margin: auto;
  color: #4a4a4a;
}

.text-container h2 {
  margin: 0;
  color: #4a4a4a;
}

.text-container p {
  margin: 0.5rem 0 0 0;
  color: gray;
}

.card img {
  border-radius: 50%;
  margin: 2rem auto 2rem auto;
}

.avatar {
  border-radius: 50%;
  margin: auto;
}

.modal-container {
  display: none;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.modal-text-container {
  margin: auto;
  color: gray;
}

.modal-text-container h2 {
  color: #4a4a4a;
}

.previous {

}

.next {
  
}

.close-btn {
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.show-modal {
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
